<?xml version="1.0" encoding="utf-8"?>
<configs>
    <core>
        <api-version>0.1</api-version>
        <environment>prod</environment>
    </core>
    <api version="0.1">
        <uri>
            <dev>http://10.0.2.2:8888</dev>
            <prod>http://ikky-phpapp-env.elasticbeanstalk.com/</prod>
        </uri>
        <resource name="getRestaurantList">
            <uri>/restaurant</uri>
            <method>GET</method>
        </resource>
        <resource name="getMerchantDetail">
            <uri>/merchants/:mid</uri>
            <method>GET</method>
        </resource>
        <resource name="getAvailableTimeslots">
            <uri>/merchants/:mid</uri>
            <method>GET</method>
        </resource>
        <resource name="userSignup">
            <uri>/users</uri>
            <method>POST</method>
        </resource>
        <resource name="userLogin">
            <uri>/users/session/:email</uri>
            <method>POST</method>
        </resource>
        <resource name="makeBooking">
            <uri>/reservations</uri>
            <method>POST</method>
        </resource>
        <resource name="getBookingList">
            <uri>/reservations</uri>
            <method>GET</method>
        </resource>
        <resource name="updateBooking">
            <uri>/reservations/:bid</uri>
            <method>PUT</method>
        </resource>
    </api>
</configs>